In [2]:
import numpy as np

In [3]:
np.random.seed(0)
A= np.random.randint(0,10,[5,5])
A

array([[5, 0, 3, 3, 7],
       [9, 3, 5, 2, 4],
       [7, 6, 8, 8, 1],
       [6, 7, 7, 8, 1],
       [5, 9, 8, 9, 4]])

                      METHODE ndarray

In [4]:
A.sum(axis=0)

array([32, 25, 31, 30, 17])

In [5]:
A.cumsum()

array([  5,   5,   8,  11,  18,  27,  30,  35,  37,  41,  48,  54,  62,
        70,  71,  77,  84,  91,  99, 100, 105, 114, 122, 131, 135],
      dtype=int32)

In [6]:
A.min(axis=0)

array([5, 0, 3, 2, 1])

In [7]:
A.argmin(axis=0)

array([0, 0, 0, 1, 2], dtype=int64)

In [13]:
A.argsort()

array([[1, 2, 3, 0, 4],
       [3, 1, 4, 2, 0],
       [4, 1, 0, 2, 3],
       [4, 0, 1, 2, 3],
       [4, 0, 2, 1, 3]], dtype=int64)

In [11]:
np.exp(A)

array([[1.48413159e+02, 1.00000000e+00, 2.00855369e+01, 2.00855369e+01,
        1.09663316e+03],
       [8.10308393e+03, 2.00855369e+01, 1.48413159e+02, 7.38905610e+00,
        5.45981500e+01],
       [1.09663316e+03, 4.03428793e+02, 2.98095799e+03, 2.98095799e+03,
        2.71828183e+00],
       [4.03428793e+02, 1.09663316e+03, 1.09663316e+03, 2.98095799e+03,
        2.71828183e+00],
       [1.48413159e+02, 8.10308393e+03, 2.98095799e+03, 8.10308393e+03,
        5.45981500e+01]])

                     STATISTIQUE

In [4]:
A

array([[5, 0, 3, 3, 7],
       [9, 3, 5, 2, 4],
       [7, 6, 8, 8, 1],
       [6, 7, 7, 8, 1],
       [5, 9, 8, 9, 4]])

In [5]:
A.mean()

5.4

In [6]:
A.var()

7.12

In [12]:
A.std()

2.6683328128252666

In [7]:
np.corrcoef(A)

array([[ 1.        ,  0.39741307, -0.59190035, -0.77390599, -0.89934617],
       [ 0.39741307,  1.        ,  0.09521171, -0.11337365, -0.59181844],
       [-0.59190035,  0.09521171,  1.        ,  0.9579589 ,  0.6947088 ],
       [-0.77390599, -0.11337365,  0.9579589 ,  1.        ,  0.84515425],
       [-0.89934617, -0.59181844,  0.6947088 ,  0.84515425,  1.        ]])

In [10]:
values, counts= np.unique(A,return_counts=True )

In [11]:
counts

array([1, 2, 1, 3, 2, 3, 2, 4, 4, 3], dtype=int64)

In [13]:
values[counts.argsort()]

array([0, 2, 1, 4, 6, 3, 5, 9, 7, 8])

In [15]:
for i,j in zip(values[counts.argsort()],counts[counts.argsort()]):
    print(f"valeur{i} apparaits{j} fois")

valeur0 apparaits1 fois
valeur2 apparaits1 fois
valeur1 apparaits2 fois
valeur4 apparaits2 fois
valeur6 apparaits2 fois
valeur3 apparaits3 fois
valeur5 apparaits3 fois
valeur9 apparaits3 fois
valeur7 apparaits4 fois
valeur8 apparaits4 fois

                                 NAN Corrections

In [22]:
A= np.random.randn(5,5)
A[0,2]= np.nan
A[4,3]= np.nan
A

array([[-1.22543552,  0.84436298,         nan, -1.5447711 ,  1.18802979],
       [ 0.31694261,  0.92085882,  0.31872765,  0.85683061, -0.65102559],
       [-1.03424284,  0.68159452, -0.80340966, -0.68954978, -0.4555325 ],
       [ 0.01747916, -0.35399391, -1.37495129, -0.6436184 , -2.22340315],
       [ 0.62523145, -1.60205766, -1.10438334,         nan, -0.739563  ]])

In [24]:
np.nanmean(A)

-0.37721218041956556

In [25]:
np.isnan(A)  #le nomnre de fois qu'on trouve le nan

array([[False, False,  True, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False,  True, False]])

In [27]:
np.isnan(A).sum()

2

In [28]:
np.isnan(A).sum()/A.size

0.08

In [29]:
np.isnan(A)

array([[False, False,  True, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False,  True, False]])

In [31]:
A[np.isnan(A)]=0

In [32]:
A

array([[-1.22543552,  0.84436298,  0.        , -1.5447711 ,  1.18802979],
       [ 0.31694261,  0.92085882,  0.31872765,  0.85683061, -0.65102559],
       [-1.03424284,  0.68159452, -0.80340966, -0.68954978, -0.4555325 ],
       [ 0.01747916, -0.35399391, -1.37495129, -0.6436184 , -2.22340315],
       [ 0.62523145, -1.60205766, -1.10438334,  0.        , -0.739563  ]])

             Algebre Lineaire

In [33]:
A= np.ones((2,3))
B= np.ones((3,2))
A

array([[1., 1., 1.],
       [1., 1., 1.]])

In [34]:
B

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [35]:
A.T

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [38]:
A.dot(B)

array([[3., 3.],
       [3., 3.]])

In [39]:
B.dot(A)

array([[2., 2., 2.],
       [2., 2., 2.],
       [2., 2., 2.]])

In [45]:
C=np.random.randint(0,10,[3,3])
C

array([[1, 6, 5],
       [0, 0, 3],
       [1, 9, 9]])

In [46]:
np.linalg.det(C)

-9.000000000000002

In [47]:
np.linalg.inv(C)

array([[ 3.        ,  1.        , -2.        ],
       [-0.33333333, -0.44444444,  0.33333333],
       [ 0.        ,  0.33333333,  0.        ]])

In [48]:
np.linalg.eig(C) # Valeur propre

(array([11.87328128,  0.3421479 , -2.21542918]),
 array([[-0.50237058, -0.99496055,  0.49997629],
        [-0.21181351,  0.09962136, -0.69666571],
        [-0.83830712,  0.01136175,  0.51447118]]))